# General
rich
psutil
Jinja2
pyyaml
# AWS SDK
boto3==1.34.131
botocore==1.34.131
# Ansible
ansible-core==2.20.4
ansible_runner
pywinrm
# AZURE
azure-identity
azure-mgmt-compute
azure-mgmt-network
# Proxmox
proxmoxer
requests
