[defaults]
host_key_checking = false
display_skipped_hosts = false
show_per_host_start     = True
deprecation_warning   = false
;stdout_callback         = yaml
# Logging configuration
log_path = ~/.ansible/logs/dreadgoad_exchange.log
no_log = False
callback_whitelist = profile_tasks

; add default roles folder into roles_path
roles_path = ./roles:../../../ansible/roles
